In [24]:
import pandas as pd

In [25]:
DATA_PATH = './names/'

Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:
        count_top3([1880]) == ['John', 'William', 'Mary']
        count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

In [116]:
def count_top3(years):
    files = []
    for year in years:
        file = pd.read_csv(
            DATA_PATH + 'yob' + str(year) + '.txt',
            names=['Name', 'Gender', 'Count']
        )
        files.append(file)
    merge_file = pd.concat(files)
    top3 = merge_file.sort_values(by='Count', ascending=False).head(3)
    result = [top3.values[x][0] for x in range(len(top3))]
    print(result)

In [118]:
count_top3([1880])
count_top3([1900, 1950, 2000])
count_top3([1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000])

['John', 'William', 'Mary']
['James', 'Robert', 'Linda']
['James', 'David', 'Michael']

Задача №2

С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:
        count_dynamics([1900, 1950, 2000]) == {
          'F': [299810, 1713259, 1814922],
          'M': [150486, 1790871, 1962744]
        }